@charset "UTF-8";

/* Fonte Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(90deg, #7F00FF, #E100FF);
    background-color: black;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 541px;
    height: 498px;
    padding: 30px 20px;
    background-color: #ffffff;
    border-radius: 10px;
}

input {
    padding: 8px;
    outline: none;
    border-radius: 5px;
}

input#do {
    border: 2px solid #EDEDEE;
    width: 70%;
}

input[type="submit"] {
    background-color: #8052EC;
    color: #fff;
    width: 25%;
    border: none;
    margin-left: 20px;
}

input[type="submit"]:hover {
    cursor: pointer;
    opacity: 0.8;
}

ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 60px;
}

li {
    width: 100%;
    margin-bottom: 30px;
    background-color: rgb(87, 128, 87);
    padding: 20px;
    background-color: #F2F2F2;
    border-radius: 5px;
    box-shadow: 1px 4px 10px 0px #00000033;
}


button {
    border: none;
    cursor: pointer;
}

i#rocket-icon {
    color: #4F0FC5;
}

i#trash-icon {
    color: #FF0000;
}

/* button#rocket {

} */

p {
    display: inline-block;
    margin-left: 10px;
}

button#trash {
    float: right;
}