@charset "UTF-8";

/* Fonte Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

* {
    padding: 0;
    margin: 0;
    outline: none;
}

body {
    background-image: linear-gradient(90deg, #7F00FF, #E100FF);
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

main {
    max-width: 541px;
    min-height: 498px;
    padding: 30px 20px;
    background-color: #ffffff;
    border-radius: 10px;
    margin: auto;
    margin-top: 7vh;
}

input {
    padding: 8px;
    border-radius: 5px;
}

input#do {
    border: 2px solid #ededee;
    min-width: 65%;
}

input[type="submit"] {
    background-color: #8052EC;
    color: #fff;
    min-width: 20%;
    float: right;
    border: none;
    font-weight: bold;
    font-size: 15px;
}

input[type="submit"]:hover {
    cursor: pointer;
    opacity: 0.8;
}

input[type="submit"]:active {
    opacity: 0.6;
}

ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 60px;
}

li {
    cursor: pointer;
    width: 100%;
    margin-bottom: 30px;
    background-color: rgb(87, 128, 87);
    padding: 20px;
    background-color: #F2F2F2;
    border-radius: 5px;
    box-shadow: 1px 4px 10px 0px #00000033;
}


button {
    border: none;
    cursor: pointer;
    background-color: transparent;
}


i {
    opacity: 0;
}

li:hover i {
    opacity: 1;
    transition: opacity 0.5s ease-in;
}


i.fa-rocket {
    color: #4F0FC5;
}

i.fa-trash {
    color: #FF0000;
}

/* button#rocket {

} */

p {
    display: inline-block;
    margin-left: 10px;
}

button.trash {
    float: right;
}

.completed {
    background-color: greenyellow;
    
}

p.completed {
    text-decoration: line-through;
}